@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.image{
  width: 415px !important;
  height: 415px !important;
}

.contactimage{
  width: auto !important;
  height: 520px !important;
}

.slide.selected{
  z-index: 1 !important;
}

.aboutimage{
  height: 500px !important;
  width: auto !important;
}
.cat5{
  font-size: 1rem;
  color: #555555;
  font-weight: bolder;
  @apply sm:text-lg md:text-xl;
}
.cat6{
  font-size: 0.95rem;
  color: #555555;
  margin: 0 20px;
  @apply sm:mx-12 md:mx-24 lg:mx-[100px];
  line-height: 1.6;
}