@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-dark-green: #064331;
  --brand-grey: #555555;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-brand-dark-green {
  background-color: var(--brand-dark-green);
}

.text-brand-dark-green {
  color: var(--brand-dark-green);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.image{
  width: 415px !important;
  height: 415px !important;
}

.contactimage{
  width: auto !important;
  height: 520px !important;
}

.slide.selected{
  z-index: 1 !important;
}

.aboutimage{
  height: 500px !important;
  width: auto !important;
}
.cat5{
  font-size: 1rem;
  color: #555555;
  font-weight: bolder;
  @apply sm:text-lg md:text-xl;
}
.cat6{
  color: #171717;
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
  line-height: 1.6;
  @apply text-sm sm:text-base md:text-lg;
}
